{% extends 'base.html.twig' %}

{% block title 'Acheter' %}

{% block body %}

	<div class="container mt-4">

		<div class="jumbotron">
				<div class="row form-inline">
					{{form_start(form)}}
						{{ form_rest(form)}}
					{{form_end(form) }}
				</div>
		</div>

		<h2>Acheter un bien</h2>

		<div class="row">
			{% for property in pagination %}
				{% include "property/_card.html.twig" %}
			{% endfor %}
		</div>
		<div class="pagination">
			{{ knp_pagination_render(pagination) }}
		</div>

	</div>


{% endblock %}
